@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Background*/
.login-form {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    background: transparent;
}

.login-form::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../images/loginbg.jpg) center/cover no-repeat;
    filter: blur(5px) brightness(0.6);
    transform: scale(1.1);
    z-index: -1;
}

.container {
    max-width: 420px;
    width: 100%;
}

.title{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    animation: scale1 2s ease-in-out infinite;
}

.fa-spotify{
    color: #1DB954;
    font-size: 50px;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.name{
    color: #1DB954;
    font-size: 50px;
}

.login-form .main {
    position: relative;
    display: flex;
    margin: 30px 0;
}

/*Login*/
.content {
    background: #181818;
    padding: 40px 35px;
    border-radius: 18px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.login-form h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
}

/* Input */
.login-form input {
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 16px;
    border-radius: 30px;
    border: 1px solid transparent;
    background: #282828;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}

.login-form input::placeholder {
    color: #b3b3b3;
}

.login-form input:focus {
    border-color: #1DB954;
    background: #333;
    outline: none;
}

/* Button */
.login-form button {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: #1DB954;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-form button:hover {
    background: #1ed760;
    transform: scale(1.03);
}

p.account {
    margin-top: 12px;
    font-size: 14px;
    color: #b3b3b3;
}

p.account a {
    color: #1DB954;
    font-weight: 500;
}

p.account a:hover {
    text-decoration: underline;
    color: #1ed760;
}

@keyframes scale1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}